<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">ชื่อรายการ</label>
    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="ชื่อรายการ">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">บทความ</label>
    <input type="text" name="blog" class="form-control" id="formGroupExampleInput2" placeholder="บทความ">
</div>
<div class="mb-3">
    <label for="formGroupExampleInput3" class="form-label">ชื่อผู้เขียน</label>
    <input type="text" name="name" class="form-control" id="formGroupExampleInput3" placeholder="ชื่อผู้เขียน">
</div>